@font-face {
    font-family: 'LifeCraft';
    /* Nom personnalisé de la police */
    src: url('../font/LifeCraft_Font.ttf') format('truetype');
    /* Chemin vers le fichier et format */
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

header img{
    height: 120px;
}

body {
    background: url(../images/117.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

button {
    cursor: pointer;
    color: white;
    font-size: 80px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
}

h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'LifeCraft';
}

#start {
    margin: 2%;
    cursor: pointer;
    
}

#choise {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div{
        display: flex;
        justify-content: space-around;
    }

    div img {
        margin: 20px;
        cursor: pointer;
    }
}

#faction {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div{
        display: flex;
        justify-content: space-around;
    }

    div img{
        margin: 20px;
        cursor: pointer;
    }
}

/* ************************* GAME **************** */

#playerOne{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55%;
    left: 15%;
    transform: translate(-50%, -50%);
}
#playerTwo{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55%;
    left: 85%;
    transform: translate(-50%, -50%);
}

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 630px;
    width: 630px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    div {
        cursor: pointer;
        height: 200px;
        width: 200px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 25px;
    }
}

#winner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'LifeCraft';
    color: white;
    font-size: 80px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
}

#nul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'LifeCraft';
    color: white;
    font-size: 80px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
}

#restart img{
    cursor: pointer;
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#winner{
    display: flex;
    align-items: center;
}